{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Detail Reception {% endblock %}

{% set menu_const_av_ded           = true %}
{% set menu_const_av_ded_create    = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for key, messages in app.session.flashbag.all() %}
        <div class="callout callout-{{ key }}">
            {{ messages }} <br />
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="list-count">
                        <span class="title-count-text"> Constatation Avant Dedouanement </span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-6">
                        <div class="table-responsive panel">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-success"> Verificateur</td>
                                        <td>{{ const_av_ded.ctVerificateur.usrName }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Immatricule vehicule</td>
                                        <td>{{ const_av_ded.cadImmatriculation }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Provenance</td>
                                        <td>{{ const_av_ded.cadProvenance }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Port d'embarquement</td>
                                        <td>{{ const_av_ded.cadLieuEmbarquement }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Date d'embarquement</td>
                                        <td>{{ const_av_ded.cadDateEmbarquement|date('d-m-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Proprietaire</td>
                                        <td>{{ const_av_ded.cadProprietaireNom|upper }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="table-responsive panel">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-success"> Conforme</td>
                                        <td>{{ const_av_ded.cadConforme ? 'OUI' : 'NON' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Bon etat</td>
                                        <td>{{ const_av_ded.cadBonEtat ? 'OUI' : 'NON' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Securite des personnes</td>
                                        <td>{{ const_av_ded.cadSecPers ? 'OUI' : 'NON' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Securite des marchandises</td>
                                        <td>{{ const_av_ded.cadSecMarch ? 'OUI' : 'NON' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Protection de l'environnement</td>
                                        <td>{{ const_av_ded.cadProtecEnv ? 'OUI' : 'NON' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-success"> Divers</td>
                                        <td>{{ const_av_ded.cadDivers|upper }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="list-count">
                        <span class="title-count-text"> Caracteristiques du vehicule </span>
                    </div>
                </div>
                {% set cad_cars = const_av_ded.ctConstAvDedCaracs %}
                <div class="box-body">
                    <div class="table-responsive panel">
                        <table class="table">
                            <thead>
                                <th>Vehicule</th>
                                {% for cad_car in cad_cars %}
                                    <th>
                                        {% if cad_car.ctConstAvDedType %}
                                            {{ cad_car.ctConstAvDedType.cadTpLibelle }}
                                        {% endif %}
                                    </th>
                                {% endfor %}
                                <th>Observation</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Mise en circulation</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadPremiereCircule }}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Genre</td>
                                    {% for cad_car in cad_cars %}
                                        <td>
                                            {% if cad_car.ctGenre %}
                                                {{ cad_car.ctGenre.grLibelle }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Marque</td>
                                    {% for cad_car in cad_cars %}
                                        <td>
                                            {% if cad_car.ctMarque %}
                                                {{ cad_car.ctMarque.mrqLibelle }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Type</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadTypeCar }}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Numero de serie type</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadNumSerieType }}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Numero de moteur</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadNumMoteur }}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Source d'energie</td>
                                    {% for cad_car in cad_cars %}
                                        <td>
                                            {% if cad_car.ctSourceEnergie %}
                                                {{ cad_car.ctSourceEnergie.sreLibelle }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Cylindre</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadCylindre }}cm3</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Puissance</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadPuissance }}CV</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Carosserie</td>
                                    {% for cad_car in cad_cars %}
                                        <td>
                                            {% if cad_car.ctCarosserie %}
                                                {{ cad_car.ctCarosserie.crsLibelle }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Nombre de places assises</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadNbrAssis }}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Largeur</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadLargeur }}mm</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Hauteur</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadHauteur }}mm</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Longueur</td>
                                    {% for cad_car in cad_cars %}
                                    <td>{{ cad_car.cadLongueur }}mm</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Charge Utile</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadChargeUtile }}kg</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Poids a vide</td>
                                    {% for cad_car in cad_cars %}
                                     <td>{{ cad_car.cadPoidsVide }}kg</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Poids total en charge</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_car.cadPoidsTotalCharge }}kg</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Poids maxima</td>
                                    {% for cad_car in cad_cars %}
                                        <td>{{ cad_cars[1].cadPoidsMaxima }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ path('const_av_ded_generer_pv', { 'id': const_av_ded.id }) }}" target="_blank"
                   class="btn btn-primary" >
                    Generer PV
                </a>
                {#{% if (is_pv_generated is defined and is_pv_generated == true) %}#}
                    {#<a href="{{ path('const_av_ded_download_pv', { 'id': const_av_ded.id }) }}"#}
                       {#class="btn btn-danger" >#}
                        {#Telecharger PV#}
                    {#</a>#}
                {#{% else %}#}
                    {#<a href="{{ path('const_av_ded_download_pv', { 'id': const_av_ded.id }) }}"#}
                       {#class="btn btn-danger disabled" >#}
                        {#Telecharger PV#}
                    {#</a>#}
                {#{% endif %}#}
                <a href="{{ path('const_av_ded_index') }}"
                   class="btn btn-default pull-left btn-mini-rectif" >
                    Retour à la liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#list-reception').DataTable(
                {
                    "order": [[ 0, "desc" ]],
                    "bProcessing": true,
                    "bFilter": true,
                    "oLanguage": {
                        "sProcessing": "Traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédente", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucune reception trouvée",
                        "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    },
                    "footerCallback": function ( row, data, start, end, display ) {
                        $('.title-count').html(display.length);
                    }
                });
        });
    </script>
    <script>
        var _generate_pv_ajax_uri = "{{ path('reception_generer_pv_ajax') }}";
    </script>
{% endblock %}
