{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Liste des usages {% endblock %}

{% set menu_type_usage      = true %}
{% set menu_type_usage_list = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for key, messages in app.session.flashbag.all() %}
        <div class="callout callout-{{ key }}">
            {{ messages }} <br />
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">                    
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>

                {# Bouton création #}
                <div class="row add-btn-top-list">
                    <a href="{{ path('type_usage_new') }}" onclick=";">
                        <button class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Créer un usage
                        </button>
                    </a>
                </div>
                
                <form action="{{ path('type_usage_delete_group') }}" method="POST" class="form-search">
                    <div class="box-body table-responsive">
                        <table id="list-type-usage" class="table table-bordered table-striped table-condensed">
                            <thead>
                                 <tr>
                                     <th></th>
                                     <th>Libellé</th>
                                     <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for type_usage in type_usages %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="{{ type_usage.id }}" name="delete[]" />
                                        </td>
                                        <td>{{ type_usage.tpuLibelle }}</td>
                                        <td>
                                            <a class="btn btn-primary" title="Modifier"
                                               href="{{ path('type_usage_edit', { 'id': type_usage.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt" title="Supprimer"
                                               href="{{ path('type_usage_delete', { 'id': type_usage.id }) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {# Bouton suppression #}
                        <a href="#">
                            <button type="submit" name="_group_delete" class="btn btn-danger delete-btn">
                                <i class="fa fa-trash"></i>
                                Supprimer la sélection
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(function () {
            $('#list-type-usage').DataTable(
            {
                "order": [[ 1, "desc" ]],
                "bProcessing": true,
                "bFilter": true,
                "oLanguage": {
                    "sProcessing": "Traitement...",
                    "oPaginate": {
                        "sPrevious": "Précédente", // This is the link to the previous page
                        "sNext": "Suivante", // This is the link to the next page
                    },
                    "sSearch": "Filtrer: ",
                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                    "sEmptyTable": "Aucun type d'usage trouvée",
                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                },
                "footerCallback": function ( row, data, start, end, display ) {
                    $('.title-count').html(display.length);
                }
            });
        });            
    </script>
{% endblock %}
