{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form ':form:fields.html.twig' %}

{#{% form_theme edit_form.ctCarteGrise.ctVehicule.ctMarque _self %}#}
{#{% form_theme edit_form.ctCarteGrise.ctVehicule.ctGenre _self %}#}
{#{% form_theme edit_form.ctCarteGrise.ctCentre _self %}#}
{#{% form_theme edit_form.ctCarteGrise.ctCarosserie _self %}#}
{% form_theme edit_form.ctUsage _self %}
{% form_theme edit_form.ctVerificateur _self %}
{% form_theme edit_form.ctCentre _self %}
{% form_theme edit_form.ctVisiteExtra _self %}
{% form_theme edit_form.ctAnomalie _self %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <span>
        <select class="select2" data-placeholder="Choisir" style="width: 100%;" oninvalid="setErrorClass($(this));"
                {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                    {{ placeholder != '' ? placeholder|trans({}, translation_domain) }}
                </option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </span>
{%- endblock choice_widget_collapsed -%}

{% block title %}{{ parent() }} Modification Contre visite technique {% endblock %}

{% set menu_contre_visite        = true %}
{% set menu_contre_visite_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# Formulaire recherche #}
    <div class="row" id="search-form">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Recherche</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{{ path('contre_visite_search_by_immatriculation') }}" method="POST">
                                <div class="form-group">
                                    <label for="ct_numero_immatriculation">Par numéro d'immatriculation</label>
                                    <select required id="ct_numero_immatriculation"
                                            name="ct_numero_immatriculation" class="form-control select2">
                                        <option value="" disabled selected>Séléctionner numéro immatriculation</option>
                                        {% for numero_immatriculation in list_numero_immatriculation %}
                                            <option value="{{ numero_immatriculation.cgImmatriculation }}">
                                                {{ numero_immatriculation.cgImmatriculation }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Rechercher" name="search_visite"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="{{ path('contre_visite_search_by_serie') }}" method="POST">
                                <div class="form-group">
                                    <label for="ct_numero_serie">Par numéro dans la série du type</label>
                                    <select required id="ct_numero_serie"
                                            name="ct_numero_serie" class="form-control select2">
                                        <option value="" disabled selected>Séléctionner numéro série</option>
                                        {% for numero_serie in list_numero_serie %}
                                            <option value="{{ numero_serie.vhcNumSerie }}">
                                                {{ numero_serie.vhcNumSerie }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Rechercher" name="search_visite"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-6">
                {# Formulaire carte grise #}
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Informations carte grise</h3>
                    </div>
    
                    <div class="box-body" id="form-carte-grise">
                        <div class="{% if app.user.ctRole.id != constant('Ct\\Service\\MetierManagerBundle\\Utils\\RoleName::ID_ROLE_SUPERADMIN') %}hidden{% endif %}">
                            {{ form_row(edit_form.ctCarteGrise.ctCentre) }}
                        </div>
                        {{ form_row(edit_form.ctCarteGrise.cgDateEmission) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgImmatriculation) }}
                        {{ form_row(edit_form.ctCarteGrise.cgNumIdentification) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgNom) }}
                        {#{{ form_row(edit_form.ctCarteGrise.cgPrenom) }}#}
                        {{ form_row(edit_form.ctCarteGrise.cgProfession) }}
                        {{ form_row(edit_form.ctCarteGrise.cgAdresse) }}
                        {{ form_row(edit_form.ctCarteGrise.cgPhone) }}
                        {{ form_row(edit_form.ctCarteGrise.cgCommune) }}
                    </div>
                </div>
    
                {# Formulaire véhicule #}
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Informations véhicule</h3>
                    </div>
    
                    <div class="box-body" id="form-vehicule">
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.ctGenre) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcType) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.ctMarque) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcNumSerie) }}
                        {{ form_row(edit_form.ctCarteGrise.ctCarosserie) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcNumMoteur) }}
                        {{ form_row(edit_form.ctCarteGrise.ctSourceEnergie) }}
                        {{ form_row(edit_form.ctCarteGrise.cgPuissanceAdmin) }}
                        {{ form_row(edit_form.ctCarteGrise.cgNbrAssis) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcPoidsTotalCharge) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcPoidsVide) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcChargeUtile) }}
                        {{ form_row(edit_form.ctCarteGrise.cgMiseEnService) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgIsTransport) }}
                        <div id="form-transport" class="{% if visite.ctCarteGrise.cgIsTransport == 0 %}hidden{% endif %}">
                            {{ form_row(edit_form.ctCarteGrise.cgNomCooperative) }}
                            {{ form_row(edit_form.ctCarteGrise.cgItineraire) }}
                            {{ form_row(edit_form.ctCarteGrise.cgNumVignette) }}
                            {{ form_row(edit_form.ctCarteGrise.ctZoneDeserte) }}
                        </div>
                    </div>
    
                    {# Champs cachés #}
                    <div class="hidden">
                        <input type="text" name="ct-visite-id" id="ct-visite-id"
                               value="{{ visite.id }}" />
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcPuissance) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcCylindre) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcHauteur) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcLongueur) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcLargeur) }}
                        {{ form_row(edit_form.ctCarteGrise.ctVehicule.vhcProvenance) }}
                        {{ form_row(edit_form.ctCarteGrise.cgNbrDebout) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgRta) }}
                        {{ form_row(edit_form.ctCarteGrise.cgPatente) }}
                        {{ form_row(edit_form.ctCarteGrise.cgAni) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgNumCarteViolette) }}
                        {{ form_row(edit_form.ctCarteGrise.cgLieuCarteViolette) }}
                        {{ form_row(edit_form.ctCarteGrise.cgDateCarteViolette) }}
                        <hr>
                        {{ form_row(edit_form.ctCarteGrise.cgDateVignette) }}
                        {{ form_row(edit_form.ctCarteGrise.cgLieuVignette) }}
                        <hr>
                        {{ form_row(edit_form.ctTypeVisite) }}
                        {{ form_row(edit_form.ctUtilisation) }}
                        {{ form_row(edit_form.ctVisiteExtra) }}
                    </div>
                </div>
            </div>
    
            {# Formulaire visite #}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Informations visite technique</h3>
                    </div>
    
                    <div class="box-body">
                        <div class="{% if app.user.ctRole.id != constant('Ct\\Service\\MetierManagerBundle\\Utils\\RoleName::ID_ROLE_SUPERADMIN') %}hidden{% endif %}">
                            {{ form_row(edit_form.ctCentre) }}
                        </div>
                        {{ form_row(edit_form.ctVerificateur) }}
                        {{ form_row(edit_form.ctUsage) }}
                        {{ form_row(edit_form.vstDateExpiration) }}
                        {{ form_row(edit_form.ctAnomalie) }}
                        <div id="form-duree-reparation" class="{% if visite.ctAnomalie|length == 0 %}hidden{% endif %}">
                            {{ form_row(edit_form.vstDureeReparation) }}
                        </div>
                    </div>
                </div>

                {% if adesit == true %}
                {# Informations des imprimés utilisés #}
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Informations imprimés techniques utilisés</h3>
                    </div>

                    <div class="row">
                        <div class="box-body">
                            <div class="form-group" style="margin: 0 8px 0 8px; padding:  0 8px 0 8px;">
                                <label for="ct_imprime_tech_use">Séléctionner les N° imprimés utilisés</label>
                                <select id="ct_imprime_tech_use" name="ct_imprime_tech_use[]" class="form-control select2 mx-6"
                                    style="width: 100%;" data-placeholder="  Choisir" multiple="" required >
                                    {% for imprime_use in imprimes_use %}
                                        <option value="{{ imprime_use.id }}" selected>
                                            {{ imprime_use.ituNumero }}
                                        </option>
                                    {% endfor %}
                                    {% for imprime_tech in imprimes_tech %}
                                    <optgroup label="{{ imprime_tech.nomImprimeTech|upper }}">
                                        {% for imprime_tech_use in imprimes_tech_use %}
                                            {% if imprime_tech.id == imprime_tech_use.ctImprimeTech.id %}
                                            <option value="{{ imprime_tech_use.id }}">
                                                {{ imprime_tech_use.ituNumero|upper }}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    
        {# Formulaire enregistrement #}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<div class="box box-success">#}
                    {#<div class="box-body">#}
                        {#<input type="submit" class="btn btn-primary" value="Enregistrer" name="update_contre_visite"/>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {# Formulaire enregistrement #}
        <div class="row">
            <div class="box box-success">
                <div class="box-body">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Modifier" name="update_visite"/>
                        <a href="{{ path('visite_new') }}"
                           class="btn btn-default pull-left btn-mini-rectif" >
                            Retour à l'ajout
                        </a>
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn btn-primary" id="btn-generate-pv-visite"
                               value="Générer PV" name="generate_pv_visite"/>
                        <span class="kl-edit-link-download-pv" id="link-download-pv"></span>
                        {#<span class="kl-edit-link-download-pv" id="link-download-pv-inapte"></span>#}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var _autocomplete_numero_serie_ajax_uri = "{{ path('carte_grise_show_numero_serie_ajax') }}";
        var _autocomplete_numero_immatriculation_ajax_uri = "{{ path('carte_grise_show_numero_immatriculation_ajax') }}";
        var _select_verif_by_centre_ajax_uri = "{{ path('visite_select_verificateur_by_centre_ajax') }}";
        var _select_expiration_by_usage_ajax_uri = "{{ path('visite_select_expiration_by_usage_ajax') }}";
        var _generate_pv_visite_ajax_uri = "{{ path('visite_generate_pv_visite_ajax') }}"
    </script>

    <script src="{{ asset('backoffice/js/add.contre.visite.js') }}"></script>
{% endblock %}