{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme edit_form ':form:custom_fields.html.twig' %}

{% block title %}{{ parent() }} Modification Type de réception {% endblock %}

{% set menu_reception             = true %}
{% set menu_type_reception        = true %}
{% set menu_type_reception_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(edit_form) }}
                    <div class="box-header">
                        <h3 class="box-title">Editer un type de réception</h3>
                    </div>

                    <div class="box-body">
                        {{ form_row(edit_form.tprcpLibelle) }}
                    </div>

                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Modifier" name="update_type_reception"/>
                        <a href="{{ path('type_reception_index') }}"
                           class="btn btn-default pull-left btn-mini-rectif" >
                            Retour à la liste
                        </a>
                    </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}